.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0d5c63;
  font-size: .7rem;
}
