<section class="save-to-ram-container">
  <div class="drop-area" id="drop-area">
    <strong class="drop-text">Drag and drop a file here to save to RAM</strong>
    <span class="or-text">or</span>
    <button class="select-button" (click)="fileInput.click()">
      Select a File
    </button>

    <input
      type="file"
      #fileInput
      [formControl]="fileForm"
      (change)="getFile($event)"
      class="file-input"
    />

    @if(file){
    <p class="file-name">{{ file.name }}</p>
    }
  </div>
</section>
