<section class="control-stack-container">
    <table class="control-stack">
        <thead>
            <tr>
                <th>MIPS</th>
                <th>HEX</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trans of translations">
                <td (click)="onInstructionClick(trans.mips)">{{ trans.mips }}</td>
                <td (click)="onInstructionClick(trans.mips)">{{ trans.hex }}</td>
                <td>
                    <button class="delete-btn" (click)="onDeleteInstruction(trans)">×</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
