.control-stack-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    overflow-y: auto;
    max-width: 440px;
    margin: 0 auto;
}

.control-stack {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #0d5c63;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #0d5c63;
    height: max-content;
    border-radius: 1rem;
}

.control-stack th,
.control-stack td {
    padding: 10px;
    text-align: left;
    width: 20rem;
    text-align: center;
}

.control-stack th {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.control-stack th:last-child,
.control-stack td:last-child {
    width: 40px;
    padding: 0;
    min-width: 40px;
    max-width: 40px;
}

.control-stack tr {
    background-color: #f2f2f2;
    transition: background-color 0.4s ease;
}

.control-stack tr:hover td {
    background-color: #D1D1D1;
    transition: background-color 0.4s ease;
}

/* Webkit browsers (Chrome, Edge, Safari) - scrollbar invisible por defecto */
.control-stack-container::-webkit-scrollbar {
  width: 8px;
}

.control-stack-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.control-stack-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}
/* Mostrar scrollbar más pronunciado al hacer hover */
.control-stack-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(125, 42, 232, 0.4); /* Más visible */
}

/* Cuando se está scrolleando activamente */
.control-stack-container::-webkit-scrollbar-thumb:active {
  background-color: rgba(125, 42, 232, 0.7); /* Muy visible */
}

.delete-btn {
    background: none;
    border: none;
    color: #0d5c63;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 20px;
    line-height: 20px;
    width: 24px;
    height: 24px;
    margin: auto;
}

.delete-btn:hover {
    background-color: rgba(116, 28, 231, 0.1);
    color: #ff4444;
}

.control-stack tr:hover .delete-btn {
    color: #ffffff;
}

.control-stack tr:hover .delete-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ff4444;
}
