<h1 class="title">MIPS CONVERTER</h1>
<main class="container">
    <div class="instruction-menu-container">
        <app-instruction-menu (instructionSelected)="onInstructionMenuSelect($event)"></app-instruction-menu>
    </div>

    <div class="assemblerTranslator">
      <textarea [(ngModel)]="assemblerCode" rows="6" cols="36" placeholder="Assembler MIPS"></textarea>
      <button (click)="onUploadAssemblerCode()"><svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-upload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 9l5 -5l5 5" /><path d="M12 4l0 12" /></svg>Upload</button>
      <div *ngIf="uploadErrors.length > 0" class="error-container">
        <h4>Errores detectados:</h4>
        <ul>
          <li *ngFor="let error of uploadErrors">{{ error }}</li>
        </ul>
      </div>

    </div>

    <div class="input-container">
        <div class="input-textbox">
            <app-textbox [inputText]="inputText" (keyup.enter)="onTranslate()" (inputChange)="onInput($event)" (selectedLineText)="onTableValueChange($event)">
            </app-textbox>
        </div>
        <div class = "translate">
            <app-translate-button (click)="onTranslate()"></app-translate-button>
            <app-save-ram-button [hexInput]="parameter"></app-save-ram-button>
        </div>
    </div>

    <app-control-stack [translations]="translations" (instructionClick)="onInstructionClick($event)" (deleteInstruction)="onDeleteInstruction($event)"></app-control-stack>
</main>
<section class="instruction-table">
    <app-instruction-table></app-instruction-table>
</section>
<section class="save-ram">
    <app-ramdrop (valueFile)="onTextFile($event)"></app-ramdrop>
</section>
